root = true

[*.cs]
# Enforce analyzers on source-generated code
generated_code = analyzed
# IDE0300: Use collection expression for array
dotnet_diagnostic.IDE0300.severity = error
# IDE0301: Use collection expression for empty
dotnet_diagnostic.IDE0301.severity = error
# IDE0302: Use collection expression for stackalloc
dotnet_diagnostic.IDE0302.severity = error
